<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>SignUp</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<section>

    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>

    <div class="signin">
        <div class="content">
            <h2>Sign Up</h2>
            <div class="form">
                <form id="signupForm" method="post" action="{% url 'signup' %}">
                    {% csrf_token %}
                    
                    <div class="inputBox">
                        <input style = "margin-bottom: 15px;" type="text" required id="username" name="username" value="{{ form_data.username|default:'' }}">
                        <i>Username</i>
                        {% if errors.username_exists %}
                            <p class="error">{{ errors.username_exists }}</p>
                        {% endif %}
                    </div>
                    <div class="inputBox">
                        <input style = "margin-bottom: 15px;" type="text" required id="email" name="email" value="{{ form_data.email|default:'' }}">
                        <i>Email</i>
                        {% if errors.email_exists %}
                            <p class="error">{{ errors.email_exists }}</p>
                        {% endif %}
                    </div>
                    <div class="inputBox">
                        <input style = "margin-bottom: 15px;" type="text" required id="first_name" name="first_name" value="{{ form_data.first_name|default:'' }}">
                        <i>First Name</i>
                    </div>
                    <div class="inputBox">
                        <input style = "margin-bottom: 15px;" type="text" required id="last_name" name="last_name" value="{{ form_data.last_name|default:'' }}">
                        <i>Last Name</i>
                    </div>
                    <div class="inputBox">
                        <input style = "margin-bottom: 15px;" type="password" required id="password1" name="password1">
                        <i>Password</i>
                    </div>
                    <div class="inputBox">
                        <input style = "margin-bottom: 15px;" type="password" required id="password2" name="password2">
                        <i>Confirm Password</i>
                        {% if errors.password_mismatch %}
                            <p class="error">{{ errors.password_mismatch }}</p>
                        {% endif %}
                    </div>
                    <div class="inputBox">
                        <input style = "margin-bottom: 15px;" type="submit" value="Sign Up" id="signupButton">
                    </div>
                </form>
    
                <div class="links">
                    <p style = "color: #aaa">You already have an account --></p>
                    <a href="{% url 'login' %}">Log In</a>
                </div>
            </div>
        </div>
    </div>
    
</section>


</body>
</html>
<style>
    .error {
        color: red;
        font-size: 0.9em;
        margin-top: 5px;
    }
    </style>