@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------Header----------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
header{
  background-color: black;
  width: 100%;
  position: fixed;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  border-bottom: 1px solid blue;
}
.profile-icon img {
width: 30px; /* Adjust the width as per your design */
height: 30px; /* Adjust the height as per your design */
border-radius: 50%; /* Optional: Makes the image round */
object-fit: cover; /* Ensures the image fills the container */
}
.logo {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.6em;
}

#nav-middle {
  margin-right: 0.4em;
}

#nav-middle a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  padding-left: 30px;
}

#nav-middle a:hover {
  color: yellow;
}

#header-icons a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  padding-left: 30px;
}

#header-icons a:hover {
  color: yellow;
}

/*------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------Main Content-------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/

.content-section {
    padding: 120px 100px 60px 100px;
    min-height: calc(100vh - 180px);
    background: -webkit-linear-gradient(left, #082a53, #243f61);
    font-family: 'Roboto', Arial, sans-serif;
    background: -webkit-linear-gradient(left, #082a53, #243f61);
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container nav {
    background: -webkit-linear-gradient(left, #244266, #132e50);
    padding: 20px;
    width: 250px;
}

.container .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.container nav .logo img {
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
}

.container .logo h1 {
  margin: 10px 0 0; 
  font-size: 1.4em;
  text-align: center;
}

.container nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container nav ul li {
  display: flex;
  align-items: center;
}

.container nav li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  padding: 1em;
  font-size: 1.4em;
  font-weight: 700;
}

.container nav li a:hover {
    background-color: #035e8f;
}

.side_bar_icon{
  display: inline-block;
  width: 24px;
  text-align: center;
}

ul li a .side_bar_icon {
  margin-right: 10px; 
}

.container .content {
    padding: 20px;
    flex: 1;
}

.container section {
    margin-bottom: 40px;
}

.hidden {
    display: none;
}

.container .label-line {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 10px; 
}

.container .label {
  width: 45%; 
  box-sizing: border-box;
  font-size: 1.5em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  padding-top: 1em;
  padding-bottom: 1.2em;
  font-weight: 900;
}

.container section h2 {
  display: inline-block; 
  font-size: 2em;
  padding: 5px 10px; 
  color: #ffffff;
}


/* Button Tag */
.container button{
  border: none;
  outline: none;
  background-color: #37577a;
  padding: 10px 20px;
  font-size: 0.8em;
  font-weight: 700;
  color: #fff;
  border-radius: 100px;
  transition: all ease 0.1s;
  box-shadow: 1px 2px 2px 1px #ffffff;
  margin-top: 25px;
  float: right;
}

.container button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}

.container button + button {
  margin-right: 20px; 
}

.container .TextInput {
  width: 45%;
  box-sizing: border-box;
  font-size: 1.5em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  padding-top: 1em;
  padding-bottom: 1.2em;
  font-weight: 200;
  background-color: #183455;
  color: white;
}

.container .content textarea {
  font-size: 2em; 
  line-height: 1.2; 
}


.container .profile-img-container {
  position: relative;
  width: 15em;
  height: 15em;
}

.container .profile-img {
  width: 12em;
  height: 12em;
  border-radius: 50%;
  overflow: hidden;
  border: 0.35em solid rgb(0, 0, 0);
}

.container .profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .edit-btn {
  position: absolute;
  top: 70%;
  right: 15%;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: #000000;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.3em;
}

.container .content .image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2em; 
}

#settings .profile-img {
  width: 15em;
  height: 15em;
}

#settings .profile-img img {
  width: 15em;
  height: 15em;
}





/* dashboard  */
.container .enrolled-courses {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-family: Arial, sans-serif;
  display: inline-flex;
  align-items: center;
  font-size: 1.5em;
}

.container .enrolled-courses span {
  margin-right: 10px;
}

.container .enrolled-courses .count {
  background-color: #555;
  padding: 5px 10px;
  border-radius: 5px;
}


/* For Progess Circle Bar */
.container .wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.container .wrapper .card{
  background: #1a2d43;
  height: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  width: 100%;
}

/* New class for styling each grid item */
.container .wrapper .grid-item {
  grid-column: span 1; /* Each card spans one column */
}

.container .wrapper .card .circle{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: default;
}
.container .card .circle .box,
.container .card .circle .box span{
    position: absolute;
    top: 50%;
    left: 50%;
}
.container .card .circle .box{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.2s;
}
.container .card .circle:hover .box{
    transform: translate(-50%, -50%) scale(0.91);
}
.container .card .circle .box span,
.container .wrapper .card .text{
    background: -webkit-linear-gradient(left, #ffffff, #d0e1f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container .circle .box span{
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 600;
    transform: translate(-45%, -45%);
    transition: all 0.1s;
}
.container .card .circle:hover .box span{
    transform: translate(-45%, -45%) scale(1.09);
}
.container .card .text{
    font-size: 20px;
    font-weight: 600;
  }
  @media(max-width: 753px){
    .wrapper{
      max-width: 700px;
    }
    .wrapper .card{
      width: calc(50% - 20px);
      margin-bottom: 20px;
    }
  }
  @media(max-width: 505px){
    .wrapper{
      max-width: 500px;
    }
    .wrapper .card{
      width: 100%;
    }
  }

/*---------------------------*/
.container  .CoursesContainer{
  display:flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
}
  
  
  
.CoursesContainer .card {
  margin-right: 40px;
  margin-top: 40px;
  position: relative;
  width: 280px;
  height: 400px;
  background: #f00;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.5s ease-in;
}

.CoursesContainer .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(4deg,blue,yellow);
}

.CoursesContainer .card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(4deg,blue,yellow);
}

.CoursesContainer .card:hover{
box-shadow: 0 0 30px 10px yellow;
transition: all 0.4s ease-out;
transform:scale(1.1);
}

.CoursesContainer .card b {
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}



/*rating stars*/
.CoursesContainer .rating{
text-align: center;
}

.CoursesContainer .rating > input {
  display: none; /* Hide the radio buttons */
}

.CoursesContainer .rating > label {
  cursor: pointer;
  font-size: 1.7em;
  color: #666; /* Default color for stars */
  transition: color 0.2s;
}

.CoursesContainer .rating > label:before {
  content: '★';
}

/* Color the stars yellow when they are selected */
.CoursesContainer .rating .selected {
  color: #ffa723;
}



 .CoursesContainer .CourseIcon{
  margin-top:0em;
  text-align: center;
  }

 .CoursesContainer .CourseIcon img{
  height:144px;
   width: 144px;
  }

  .rating .rate_value{
  color:white;
   font-weight: 400;
  }
.rating .rating_participants_count{
color:white;font-weight: 400;
}

.CoursesContainer h3{
  margin-top: 0.25em;
  margin-left: 3px;
  margin-right: 3px;
  text-align: center;
  font-size:1.8em;
  font-weight: 600;
  color:white;
}

.CoursesContainer .button{
  margin-right: 1.4em;
  margin-top: 1em;
}



.CoursesContainer .button {
  position: relative;
  left:0;
  top: 0;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid yellow;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.CoursesContainer .button:hover {
  cursor: pointer;
  color:yellow;
  background: #001b65;
  box-shadow: 0 0 30px 5px yellow;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.CoursesContainer .button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.CoursesContainer .button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}


.label-line button{
  margin: 0px;
}

select,
    input[type="text"] {
        border: 1px solid #ddd;
        border-radius: 5px;
        outline: none;
        color: white;
        background-color: #37577a;
        font-size: 1.2em;
        margin-top: 0.7em;
        margin-bottom: 0.5em;
        font-size: 1.3em;
        font-weight: bold;
    }

/*------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------Footer----------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}



/*------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------Responsive----------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 200px) and (max-width: 249px){
  body{
      font-size: 3px;
  }

  header{
      padding: 12px 4px;
      display: grid;
      grid-template-rows: auto auto;
      align-items: center;
      justify-content: left;
      column-gap: 0px;
      row-gap: 1em;
  }

  #header-icons{
      grid-row: 1; /* Place the navigation links in the first row */
      margin-right: 0em;
      margin-left: -12em;  
  }
  #header-icons a{ 
      font-size: 1.8em;
      margin-right: 0em;
      font-weight: 400;
      padding-left: 7px;
  }

  #nav-middle {
      font-size: 2.7em;
      margin-left: 1em;
      margin-right: 0em;
      text-align: center;
      grid-row: 2;
      width: 100%;
  }
  #nav-middle a{
      font-weight: 400;
      padding-left: 0px;
      margin-right: 0.5em;
  }

  .logo{
      grid-row: 1;
      max-width: 150px;
      font-size:4em;
      font-weight: 500;
      overflow:visible; /* Hide any content that exceeds the maximum width */
      margin-left:0.9em;
  }

/*footer section*/
.footer {
position: relative;
width: 100%;
background: #3586ff;
min-height: 100px;
padding: 20px 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.social-icon,
.menu {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;
flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
list-style: none;
}

.social-icon__link {
font-size: 1rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}
.social-icon__link:hover {
transform: translateY(-10px);
}

.menu__link {
font-size: 0.7rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
text-decoration: none;
opacity: 0.75;
font-weight: 300;
}

.menu__link:hover {
opacity: 1;
}

.footer p {
color: #fff;
margin: 15px 0 10px 0;
font-size: 0.5rem;
font-weight: 300;
}
}





@media (min-width: 249px) and (max-width: 299px){
  body{
      font-size: 3.3px;
  }

  header{
      padding: 12px 4px;
      display: grid;
      grid-template-rows: auto auto;
      align-items: center;
      justify-content: left;
      column-gap: 0px;
      row-gap: 1em;
  }

  #header-icons{
      grid-row: 1; /* Place the navigation links in the first row */
      margin-right: 0em;
      margin-left: -2.5em;  
  }
  #header-icons a{ 
      font-size: 1.8em;
      margin-right: 0em;
      font-weight: 400;
      padding-left: 7px;
  }

  #nav-middle {
      font-size: 2.5em;
      margin-left: 1em;
      margin-right: 0em;
      text-align: center;
      grid-row: 2;
      width: 100%;
  }
  #nav-middle a{
      font-weight: 400;
      padding-left: 0px;
      margin-right: 1em;
  }

  .logo{
      grid-row: 1;
      max-width: 150px;
      font-size:4em;
      font-weight: 500;
      overflow:visible; /* Hide any content that exceeds the maximum width */
      margin-left:0.9em;
  }

/*footer section*/
.footer {
position: relative;
width: 100%;
background: #3586ff;
min-height: 100px;
padding: 20px 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.social-icon,
.menu {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;
flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
list-style: none;
}

.social-icon__link {
font-size: 1rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}
.social-icon__link:hover {
transform: translateY(-10px);
}

.menu__link {
font-size: 0.6rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
text-decoration: none;
opacity: 0.75;
font-weight: 300;
}

.menu__link:hover {
opacity: 1;
}

.footer p {
color: #fff;
margin: 15px 0 10px 0;
font-size: 0.5rem;
font-weight: 300;
}




}




@media (min-width: 299px) and (max-width: 349px){
  body{
      font-size: 4px;
  }

  header{
      padding: 12px 4px;
      display: grid;
      grid-template-rows: auto auto;
      align-items: center;
      justify-content: left;
      column-gap: 0px;
      row-gap: 1em;
  }

  #header-icons{
      grid-row: 1; /* Place the navigation links in the first row */
      margin-right: 0em;
      margin-left: -2.5em;  
  }
  #header-icons a{ 
      font-size: 1.9em;
      margin-right: 0em;
      font-weight: 400;
      padding-left: 10px;
  }

  #nav-middle {
      font-size: 2.4em;
      margin-left: 1em;
      margin-right: 0em;
      text-align: center;
      grid-row: 2;
      width: 100%;
  }
  #nav-middle a{
      font-weight: 400;
      padding-left: 0px;
      margin-right: 1em;
  }

  .logo{
      grid-row: 1;
      max-width: 150px;
      font-size:4em;
      font-weight: 500;
      overflow:visible; /* Hide any content that exceeds the maximum width */
      margin-left:0.9em;
  }

/*footer section*/
.footer {
position: relative;
width: 100%;
background: #3586ff;
min-height: 100px;
padding: 20px 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.social-icon,
.menu {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;
flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
list-style: none;
}

.social-icon__link {
font-size: 1.2rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}
.social-icon__link:hover {
transform: translateY(-10px);
}

.menu__link {
font-size: 0.72rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
text-decoration: none;
opacity: 0.75;
font-weight: 300;
}

.menu__link:hover {
opacity: 1;
}

.footer p {
color: #fff;
margin: 15px 0 10px 0;
font-size: 0.6rem;
font-weight: 300;
}



}



@media (min-width: 349px) and (max-width: 399px){
  body{
      font-size: 4.6px;
  }

  header{
      padding: 12px 4px;
      display: grid;
      grid-template-rows: auto auto;
      align-items: center;
      justify-content: left;
      column-gap: 0px;
      row-gap: 1em;
  }

  #header-icons{
      grid-row: 1; /* Place the navigation links in the first row */
      margin-right: 0em;
      margin-left: 0em;  
  }
  #header-icons a{ 
      font-size: 1.9em;
      margin-right: 0em;
      font-weight: 400;
      padding-left: 10px;
  }

  #nav-middle {
      font-size: 2.4em;
      margin-left: 1em;
      margin-right: 0em;
      text-align: center;
      grid-row: 2;
      width: 100%;
  }
  #nav-middle a{
      font-weight: 400;
      padding-left: 0px;
      margin-right: 1em;
  }

  .logo{
      grid-row: 1;
      max-width: 150px;
      font-size:3.5em;
      font-weight: 500;
      overflow:visible; /* Hide any content that exceeds the maximum width */
      margin-left:1em;
  }

/*footer section*/
.footer {
position: relative;
width: 100%;
background: #3586ff;
min-height: 100px;
padding: 20px 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.social-icon,
.menu {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;
flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
list-style: none;
}

.social-icon__link {
font-size: 1.5rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}
.social-icon__link:hover {
transform: translateY(-10px);
}

.menu__link {
font-size: 0.9rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
text-decoration: none;
opacity: 0.75;
font-weight: 300;
}

.menu__link:hover {
opacity: 1;
}

.footer p {
color: #fff;
margin: 15px 0 10px 0;
font-size: 0.75rem;
font-weight: 300;
}



}




@media (min-width: 399px) and (max-width: 459px) {
  body{
      font-size: 4.75px;
  }

  header{
      padding: 12px 5px;
      display: grid;
      grid-template-rows: auto auto;
      align-items: center;
      justify-content: left;
      column-gap: 0px;
      row-gap: 1em;
  }

  #header-icons{
      grid-row: 1; /* Place the navigation links in the first row */
      margin-right: 0em;
      margin-left: 6em;   
  }
  #header-icons a{ 
      font-size: 2em;
      margin-right: 0em;
      font-weight: 400;
      padding-left: 10px;
  }

  #nav-middle {
      font-size: 2.4em;
      margin-left: 1.1em;
      margin-right: 0em;
      text-align: center;
      grid-row: 2;
      width: 100%;
  }
  #nav-middle a{
      font-weight: 400;
      padding-left: 0px;
      margin-right: 1em;
  }

  .logo{
      grid-row: 1;
      max-width: 150px;
      font-size:3.5em;
      font-weight: 500;
      overflow:visible; /* Hide any content that exceeds the maximum width */
      margin-left:1em;
  }

/*footer section*/
.footer {
position: relative;
width: 100%;
background: #3586ff;
min-height: 100px;
padding: 20px 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.social-icon,
.menu {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;
flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
list-style: none;
}

.social-icon__link {
font-size: 1.5rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}
.social-icon__link:hover {
transform: translateY(-10px);
}

.menu__link {
font-size: 0.9rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
text-decoration: none;
opacity: 0.75;
font-weight: 300;
}

.menu__link:hover {
opacity: 1;
}

.footer p {
color: #fff;
margin: 15px 0 10px 0;
font-size: 0.75rem;
font-weight: 300;
}




}



@media (min-width: 459px) and (max-width: 519px) {
  body{
      font-size: 4.75px;
  }

  header{
      padding: 12px 5px;
      display: grid;
      grid-template-rows: auto auto;
      align-items: center;
      justify-content: left;
      column-gap: 0px;
      row-gap: 1em;
  }

  #header-icons{
      grid-row: 1; /* Place the navigation links in the first row */
      margin-right: 0em;
      margin-left: 15em;   
  }
  #header-icons a{ 
      font-size: 1.8em;
      margin-right: 0em;
      font-weight: 400;
      padding-left: 10px;
  }

  #nav-middle {
      font-size: 2em;
      margin-left: 9em;
      margin-right: 0em;
      text-align: center;
      grid-row: 2;
      width: 100%;
  }
  #nav-middle a{
      font-weight: 400;
      padding-left: 0px;
      margin-right: 1em;
  }

  .logo{
      grid-row: 1;
      max-width: 150px;
      font-size:3.3em;
      font-weight: 500;
      overflow:visible; /* Hide any content that exceeds the maximum width */
      margin-left:1em;
  }

/*footer section*/
.footer {
position: relative;
width: 100%;
background: #3586ff;
min-height: 100px;
padding: 20px 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.social-icon,
.menu {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;
flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
list-style: none;
}

.social-icon__link {
font-size: 1.5rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}
.social-icon__link:hover {
transform: translateY(-10px);
}

.menu__link {
font-size: 0.9rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
text-decoration: none;
opacity: 0.75;
font-weight: 300;
}

.menu__link:hover {
opacity: 1;
}

.footer p {
color: #fff;
margin: 15px 0 10px 0;
font-size: 0.75rem;
font-weight: 300;
}





}


@media (min-width: 519px) and (max-width: 575px){
  body{
      font-size: 6px;
  }

  header{
      padding: 12px 10px;
      display: grid;
      grid-template-rows: auto auto;
      align-items: center;
      justify-content: left;
      column-gap: 0px;
      row-gap: 1em;
  }

  #header-icons{
      grid-row: 1; /* Place the navigation links in the first row */
      margin-right: 0em;
      margin-left: 4em;   
  }
  #header-icons a{ 
      font-size: 1.8em;
      margin-right: 0em;
      font-weight: 400;
  }

  #nav-middle {
      font-size: 2em;
      margin-left: 8em;
      margin-right: 0em;
      text-align: center;
      grid-row: 2;
      width: 100%;
  }
  #nav-middle a{
      font-weight: 400;
      padding-left: 0px;
      margin-right: 1em;
  }

  .logo{
      grid-row: 1;
      max-width: 150px;
      font-size:3.1em;
      font-weight: 500;
      overflow:visible; /* Hide any content that exceeds the maximum width */
      margin-left:1em;
  }

/*footer section*/
.footer {
position: relative;
width: 100%;
background: #3586ff;
min-height: 100px;
padding: 20px 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.social-icon,
.menu {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;
flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
list-style: none;
}

.social-icon__link {
font-size: 1.7rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}
.social-icon__link:hover {
transform: translateY(-10px);
}

.menu__link {
font-size: 1.02rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
text-decoration: none;
opacity: 0.75;
font-weight: 300;
}

.menu__link:hover {
opacity: 1;
}

.footer p {
color: #fff;
margin: 15px 0 10px 0;
font-size: 0.85rem;
font-weight: 300;
}




}






@media (min-width: 575px) and (max-width: 619px){
  body{
      font-size: 8px;
  }

  header{
      padding: 12px 10px;
      display: grid;
      grid-template-rows: auto auto;
      align-items: center;
      justify-content: left;
      column-gap: 0px;
      row-gap: 1em;
  }

  #header-icons{
      grid-row: 1; /* Place the navigation links in the first row */
      margin-right: 0em;
      margin-left: 0em;   
  }
  #header-icons a{ 
      font-size: 1.3em;
      margin-right: 0em;
      font-weight: 400;
  }

  #nav-middle {
      font-size: 1.7em;
      margin-left: 7em;
      margin-right: 0em;
      text-align: center;
      grid-row: 2;
      width: 100%;
  }
  #nav-middle a{
      font-weight: 400;
      padding-left: 0px;
      margin-right: 1em;
  }

  .logo{
      grid-row: 1;
      max-width: 150px;
      font-size:2.7em;
      font-weight: 500;
      overflow:visible; /* Hide any content that exceeds the maximum width */
      margin-left:1em;
  }

/*footer section*/
.footer {
position: relative;
width: 100%;
background: #3586ff;
min-height: 100px;
padding: 20px 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.social-icon,
.menu {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;
flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
list-style: none;
}

.social-icon__link {
font-size: 1.7rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}
.social-icon__link:hover {
transform: translateY(-10px);
}

.menu__link {
font-size: 1.02rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
text-decoration: none;
opacity: 0.75;
font-weight: 300;
}

.menu__link:hover {
opacity: 1;
}

.footer p {
color: #fff;
margin: 15px 0 10px 0;
font-size: 0.85rem;
font-weight: 300;
}



}



@media (min-width: 619px) and (max-width: 767px){
  body{
      font-size: 8px;
  }

  header{
      padding: 12px 10px;
      display: grid;
      grid-template-rows: auto auto;
      align-items: center;
      justify-content: left;
      column-gap: 0px;
      row-gap: 1em;
  }

  #header-icons{
      grid-row: 1; /* Place the navigation links in the first row */
      margin-right: 0em;
      margin-left: 8em;   
  }
  #header-icons a{ 
      font-size: 1.4em;
      margin-right: 0em;
      font-weight: 400;
  }

  #nav-middle {
      font-size: 1.7em;
      margin-left: 8.5em;
      margin-right: 0em;
      text-align: center;
      grid-row: 2;
      width: 100%;
  }
  #nav-middle a{
      font-weight: 400;
      padding-left: 0px;
      margin-right: 1em;
  }

  .logo{
      grid-row: 1;
      max-width: 150px;
      font-size:2.7em;
      font-weight: 500;
      overflow:visible; /* Hide any content that exceeds the maximum width */
      margin-left:1em;
  }

/*footer section*/
.footer {
position: relative;
width: 100%;
background: #3586ff;
min-height: 100px;
padding: 20px 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.social-icon,
.menu {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;
flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
list-style: none;
}

.social-icon__link {
font-size: 1.7rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}
.social-icon__link:hover {
transform: translateY(-10px);
}

.menu__link {
font-size: 1.02rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
text-decoration: none;
opacity: 0.75;
font-weight: 300;
}

.menu__link:hover {
opacity: 1;
}

.footer p {
color: #fff;
margin: 15px 0 10px 0;
font-size: 0.85rem;
font-weight: 300;
}




}




@media (min-width: 767px) and (max-width: 819px){
  body{
      font-size: 11px;
  }

  header{
      padding: 12px 10px;
      display: grid;
      grid-template-rows: auto auto;
      align-items: center;
      justify-content: left;
      column-gap: 0px;
      row-gap: 1em;
  }

  #header-icons{
      grid-row: 1; /* Place the navigation links in the first row */
      margin-right: 0em;
      margin-left: 5em;
  }
  #header-icons a{ 
      font-size: 1.3em;
      margin-right: 0.1em;
      font-weight: 450;
  }

  #nav-middle {
      margin-right: 0em;
      text-align: center;
      grid-row: 2;
      width: 100%;
      font-size: 1em;
      font-weight: 500;
      margin-left: 12em;
  }
  #nav-middle a{
      font-size: 1.7em;
      padding-left: 0px;
      margin-right: 1em;
  }

  .logo{
      grid-row: 1;
      max-width: 150px;
      font-size:2.7em;
      font-weight: 550;
      overflow:visible; /* Hide any content that exceeds the maximum width */
      margin-left:1em;
  }
}




@media (min-width: 819px) and (max-width: 940px){
  body{
      font-size: 12px;
  }
  header{
      padding: 12px 10px;
      display: grid;
      grid-template-rows: auto auto;
      align-items: center;
      justify-content: left;
      column-gap: 0px;
      row-gap: 1em;
  }
  #header-icons{
      grid-row: 1; /* Place the navigation links in the first row */
      margin-right: 0em;
      margin-left: 15em;
  }
  #header-icons a{ 
      font-size: 1.1em;
      margin-right: 0.1em;
      font-weight: 450;
  }
  #nav-middle {
      margin-right: 0em;
      text-align: center;
      grid-row: 2;
      width: 100%;
      font-size: 1em;
      font-weight: 500;
      margin-left: 13.5em;
  }
  #nav-middle a{
      font-size: 1.4em;
      padding-left: 0px;
      margin-right: 1em;
  }
  .logo{
      grid-row: 1;
      max-width: 150px;
      font-size:2.3em;
      font-weight: 550;
      overflow:visible; /* Hide any content that exceeds the maximum width */
      margin-left:1em;
  }
}



@media (min-width: 940px) and (max-width: 1006px){
  body{
      font-size: 15px;
  }
  header{
      padding: 12px 10px;
  }

}